<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
      </div>
      <div class="col-md-2 offset-md-2 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="image-circle-container">
              <img [src]="uploadedImage ? uploadedImage.slug : user.file ? user.file.slug : null">
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <input [hidden]="true" #file (change)="selectFile($event)" type="file" placeholder="Upload image" accept="image/*">
            <button (click)="file.click()" class="btn btn-sm btn-primary upload-image-button">
              Upload Avatar
            </button>
          </div>
        </div>
    
      </div>
      <div class="col-md-6 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input type="hidden" formControlName="file_id" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                formControlName="username" />
            </fieldset>

            <fieldset class="form-group">
              <select
                formControlName="role_id"
                placeholder="Role"
                [attr.disabled]="isAdmin ? null : true"
                class="form-control form-control-lg">
                  <option *ngFor="let role of roles" [ngValue]="role.id">
                    {{ role.name }}
                  </option>
              </select>
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
                formControlName="bio">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                formControlName="email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
                formControlName="password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit">
              Update Settings
            </button>

          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr />

        <button class="btn btn-outline-danger"
          (click)="logout()">
          Or click here to logout.
        </button>

      </div>
    </div>
  </div>
</div>
